<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Manager</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn toggle-btn-pd" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Video Manager</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="toggle-btn sidebar-item">
                    <a href="{{ url_for('upload') }}" class="sidebar-link">
                        <i class="lni lni-display-alt"></i>
                        <span>Enviar videos</span>
                    </a>
                </li>
                <li class="toggle-btn sidebar-item">
                    <a href="{{ url_for('view') }}" class="sidebar-link">
                        <i class="lni lni-eye"></i>
                        <span>Visualizar</span>
                    </a>
                </li>
                <li class="toggle-btn sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-bar-chart"></i>
                        <span>Status</span>
                    </a>
                </li>
            </ul>
        </aside>
        
        <div class="main p-0">
            <nav class="navbar bg-body-tertiary p-2">
                <div class="container-fluid">
                  <img src="{{ url_for('static', filename='img/Logo.png') }}"></img>
                </div>
            </nav>
            
            <!-- Seção para as caixas de redirecionamento -->
            <div class="container mt-4">
                <div class="row">
                    <!-- Caixa 1: Enviar Videos -->
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <i class="lni lni-display-alt mb-2" style="font-size: 3rem;"></i>
                                <h5 class="card-title">Enviar Videos</h5>
                                <p class="card-text">Adicione novos vídeos para exibição nas filiais.</p>
                                <a href="{{ url_for('upload') }}" class="btn btn-primary">Ir para Enviar Videos</a>
                            </div>
                        </div>
                    </div>
                    <!-- Caixa 2: Visualizar -->
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <i class="lni lni-eye mb-2" style="font-size: 3rem;"></i>
                                <h5 class="card-title">Visualizar Videos</h5>
                                <p class="card-text">Veja todos os vídeos que estão ativos nas filiais.</p>
                                <a href="{{ url_for('view') }}" class="btn btn-primary">Ir para Visualizar</a>
                            </div>
                        </div>
                    </div>
                    <!-- Caixa 3: Status -->
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <i class="lni lni-bar-chart mb-2" style="font-size: 3rem;"></i>
                                <h5 class="card-title">Status</h5>
                                <p class="card-text">Acompanhe o status e a performance dos vídeos.</p>
                                <a href="#" class="btn btn-primary">Ir para Status</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
